html {
  color: #acacac;
  margin: 0 auto;
  padding: 50px;
  background: #3d3c70 no-repeat url(./components/grid/Robot.svg) -300px 150%;
}

body {
  font-family: "Gill Sans", sans-serif;
  line-height: 150%;
}

.App {
  
}

header h1 {
  text-align: center;
  color: rgb(209, 223, 19);
}